{% extends "users/dashboard_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Add Teacher - Xara School Management System{% endblock title %}

{% block page_title %}Add Teacher{% endblock %}

{% block dashboard_content %}

        <form method="post">
            {% csrf_token %}
                {{form|crispy}}
            <button type="submit" class=" mt-4 btn btn-primary">Add Teacher</button>
            <a href="{% url 'teacher_list' %}" class="mt-4 btn btn-secondary">Cancel</a>
        </form>
{% endblock dashboard_content %}