{% extends "users/dashboard_base.html" %}
{% load crispy_forms_tags %}
{% block title %}{% if form.instance.pk %}Edit{% else %}Add{% endif %} Class - Xara School Management System{% endblock %}

{% block page_title %}{% if form.instance.pk %}Edit{% else %}Add{% endif %} Class{% endblock %}

{% block dashboard_content %}
<form method="post">
    {% csrf_token %}
        {{form|crispy}}
    <button type="submit" class="btn btn-primary">{% if form.instance.pk %}Update{% else %}Create{% endif %} Class</button>
    <a href="{% url 'class_list' %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}