{% extends "users/dashboard_base.html" %}

{% block title %}Delete Teacher - {{ object.user.get_full_name }}{% endblock title %}

{% block page_title %}Delete Teacher{% endblock %}

{% block dashboard_content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="alert alert-danger">
            <h4 class="alert-heading">Confirm Deletion</h4>
            <p>Are you sure you want to delete the teacher {{ object.user.get_full_name }}?</p>
            <p>This action cannot be undone.</p>
        </div>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirm Delete</button>
            <a href="{% url 'teacher_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock dashboard_content %}