{% extends "users/dashboard_base.html" %}

{% block title %}Secretary Dashboard - Xara School Management System{% endblock title %}

{% block page_title %}Dashboard{% endblock %}

{% block dashboard_content %}
<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Teachers</h5>
                <p class="card-text display-4">{{ teacher_count }}</p>
                <a href="#" class="btn btn-primary">Manage Teachers</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Classes</h5>
                <p class="card-text display-4">{{ class_count }}</p>
                <a href="#" class="btn btn-primary">Manage Classes</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Students</h5>
                <p class="card-text display-4">{{ student_count }}</p>
                <a href="#" class="btn btn-primary">Manage Students</a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <h2>Quick Actions</h2>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Add New Teacher</a>
            <a href="#" class="list-group-item list-group-item-action">Create New Class</a>
            <a href="#" class="list-group-item list-group-item-action">Enroll New Student</a>
            <a href="#" class="list-group-item list-group-item-action">View School Settings</a>
        </div>
    </div>
</div>

<footer class="mt-5 text-center">
    <p>&copy; 2024 Xara School Management System. All rights reserved.</p>
</footer>
{% endblock dashboard_content %}